  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  [mat-fab] {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
  }
  mat-panel-title, mat-panel-description {
    padding: 10px 0;
  }
  button {
    margin-left: 10px;
  }