<main>
  <h2>Products</h2>
  <div class="content">
    <mat-card *ngFor="let product of products" class="example-card">
      <mat-card-header routerLink="/product-details/{{ product.id }}">
        <mat-card-title [title]="product.name + ' details'"
          >{{ product.name }}
        </mat-card-title>
        <mat-card-subtitle>Hybrid</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/product.png"
        alt="Photo of muffin"
      />
      <mat-card-content>
        <mat-chip-set aria-label="summary chips">
          <mat-chip>{{ product.price | currency }}</mat-chip>
          <mat-chip>Medium</mat-chip>
          <mat-chip>Blueberry</mat-chip>
        </mat-chip-set>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/product-details/{{ product.id }}">
          View
        </button>
      </mat-card-actions>
      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </mat-card>
  </div>
</main>
