<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Mellow Muffins</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    aria-label="icon-button with user icon"
    routerLink="/admin/list"
  >
    <i class="material-icons"> account_circle</i>
</button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="icon-button with checkout icon"
    routerLink="/cart"
  >
    <i class="material-icons">shopping_cart</i> </button
  ><button
    mat-icon-button
    class="example-icon"
    aria-label="icon-button with checkout icon"
    routerLink="/orders"
  >
    <i class="material-icons">description</i>
  </button>
</mat-toolbar>
